<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formTravels" (ngSubmit)="addTravels()">
                    <div class="row">
                        <div class="col-xs-6 col-lg-6">
                            <label>Destino: </label>
                            <input formControlName="destination" type="text" class="form-control"/>
                            <span *ngIf="formTravels.get('destination')?.hasError('required') && formTravels.get('destination')?.touched">
                                *El campo destino es requerido
                            </span>
                         </div>
                         <div class="col-xs-6 col-lg-6">
                            <label>Salida: </label>
                            <input formControlName="departure" type="time" class="form-control"/>
                            <span *ngIf="formTravels.get('departure')?.hasError('required') && formTravels.get('departure')?.touched">
                                *El campo de salida es requerido
                            </span>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-xs-6 col-lg-6">
                            <label>Fecha: </label>
                            <input formControlName="date" type="date" class="form-control"/> 
                            <span *ngIf="formTravels.get('date')?.hasError('required') && formTravels.get('date')?.touched">
                                *El campo fecha es requerido
                            </span>
                         </div>
                         <div class="col-xs-6 col-lg-6">
                            <label>Costo: </label>
                            <input formControlName="price" type="number" class="form-control"/> 
                            <span *ngIf="formTravels.get('price')?.hasError('required') && formTravels.get('price')?.touched">
                                *El campo precio es requerido
                            </span>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button [disabled]="formTravels.invalid" class="btn btn-primary" type="submit">Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>